---
---

@import "jekyll-theme-minimal";

/* Override default styles with custom styles */

/* Set global font to Georgia */
body, *, p, li, a {
  font-family: Georgia, serif;
  color: black; /* Ensure all text is black */
}

/* Header Style 1 (h1) */
h1 {
  font-size: 18pt;
  color: #cc0000;
  font-family: Georgia, serif; /* Ensure it's Georgia */
  font-weight: normal; /* Set the font weight to normal */
  text-decoration: none; /* Ensure there's no underline */
}

/* Style the link within the h1 tag */
h1 a {
  color: #cc0000; /* Ensure the link has the correct color */
  text-decoration: none; /* No underline */
  font-weight: normal; /* Ensure font weight stays normal */
}

/* Remove all hover effects on the link within the h1 tag */
h1 a:hover {
  color: #cc0000; /* Keep the color the same on hover */
  background-color: transparent; /* No background change on hover */
  text-decoration: none; /* No underline or other decoration on hover */
  font-weight: normal; /* Ensure font weight stays normal */
  transition: none; /* Disable any transition effects on hover */
}


/* Header Style 2 (h2) */
h2 {
  font-size: 18pt;
  color: #cc0000;
  font-family: Georgia, serif; /* Ensure it's Georgia */
}

/* Header Style 3 (h3) */
h3 {
  font-size: 18pt;
  color: black;
  font-family: Georgia, serif; /* Ensure it's Georgia */
}

/* Regular text to 12 pt */
body {
  font-size: 12pt;
}

/* Styling for email links */
a[href^="mailto:"] {
  color: #1a3c6e; /* Light navy color */
  text-decoration: underline; /* Underline the email links */
  font-weight: normal; /* Normal font weight */
}

/* Styling for all other hyperlinks */
a {
  color: #1a3c6e; /* Light navy color */
  text-decoration: none; /* No underline */
  font-weight: normal; /* Normal font weight */
}

/* Adjust margins for desktop view only */
@media (min-width: 768px) {
  body {
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 0 auto !important;
  }

  .wrapper {
    max-width: 90% !important;
    margin: 0 auto !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
